body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: hsl(217, 54%, 11%);
    font-family: Outfit;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem 2rem;
    background-color: hsl(215, 32%, 27%);
    border-radius: 2rem;
    width: 25%;
}

.dice {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dice img {
    width: 50%;
    height: 50%;
    border-radius: 2rem;
    margin: 1rem;
    padding: 1rem;
}
